/*imported fonts*/
/*DM Serif Display*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
/*Lobster*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lobster&display=swap');
/*Abril Fatface*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display:ital@0;1&family=Lobster&display=swap');


/*Css for all*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

/*html css*/

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*container 1 css*/

.container1{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

  /*video css*/

  .body-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: -100;
    right: 0;
  }

  /*header css*/

  .header{
    width: 100%;
    height: auto;
    padding: 1rem;
    background: rgba(238, 143, 20, 0.26);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid green;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
  }

  .header h2{
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
    font-style: italic;
    color: rgba(22, 18, 7, 0.719);
  }

  .header a{
    color: rgba(0, 0, 0, 0.575);
    font-size: 2rem;
    padding-left: 2rem;
    font-family: "DM Serif Display", serif;
    font-style: italic;
    font-weight: bold;
  }

  .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav a:hover{
    background: rgba(245, 245, 245, 0.5);
    margin: 1rem;
    word-spacing: 0.5rem;
    font-size: 2.3rem;
    cursor: pointer;
    padding-left: 1rem;
  }

  /*Maintext css*/

  .maintext{
    width: 95%;
    height: 90vh;
    background: transparent;
    position: absolute;
    top: 8%;
    margin: 1rem auto;
    border: 0.6rem solid rgba(255, 255, 255, 0.349);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  /*leftside*/

  .leftside{
    width: 35%;
    height: 78%;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
  }

  /*first*/
  .first{
    width: 100%;
    background: rgba(255, 255, 255, 0.671);
    height: 18%;
    font-size: 4rem;
    text-align: center;
    font-style: italic;
    padding: 1rem;
    border-radius: 1rem;
    color:rgba(0, 0, 0, 0.637) ;
    border: 0.4rem solid rgba(7, 7, 7, 0.568);
  }

  /*second*/
  .second{
    width: 85%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-style: italic;
    border-radius: 2rem;
    border: 0.5rem solid white;
    text-align: center;
  }


  /*rightside*/
  .rightside{
    width: 65%;
    height: 100%;
    padding-left: 2px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rightside img{
    width: 85%;
    height: 85%;
  }

  /*button*/

  button{
    width: 65%;
    height: 4rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.342);
    color: rgb(241, 241, 241);
    border: 0.8px dotted rgb(8, 8, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    transition: 0.5s;
  }


  button:hover{
    word-spacing: 0.5rem;
    font-size: 2.3rem;
    cursor: pointer;
    padding-left: 1rem;
  }


/*container 2*/

  .container2{
    width: 100%;
    height: auto;
    background: transparent;
  }

  /*heading*/

  .heading{
    color: black;
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
  }

  .underline{
    background: rgb(49, 49, 46);
    height: 0.6rem;
    width: 35%;
    position: relative;
    top: 15%;
    border-radius: 3rem;
    left: 33%;
    margin-top: 2rem;
  }

  /*Terrarium*/

  .terrarium{
    width: 90%;
    height: auto;
    margin-left: 10rem;
    margin-top: 2rem;
    background: rgba(0, 0, 0, 0.719);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  /*products*/
  .products{
    width: 30rem;
    height: 40rem;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 4rem;
    margin: 4rem;
    transition: 0.5s;
    border-radius: 2rem;
  }

  /*top*/
  .top{
    width: 100%;
    height: 60%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
  }

  .top img{
    width: 100%;
    height: 100%;
  }

  /*bottom*/

  .bottom{
    width: 100%;
    height: 45%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
  }

  .bottom h2{
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
  }

  .bottom h3{
    font-size: 2.5rem;
    color: beige;
  }

  .products button{
    width: 80%;
    margin-bottom: 1rem;
    border: 0.1rem solid white;

  }

  .products button:hover{
    width: 80%;
    height: auto;
  }

.products:hover{
  cursor: pointer;
  width: 33rem;
  height: 43rem;
  border: 2px solid white;
  
}


/*container 3*/

  .container3{
    width: 100%;
    height: auto;
    background: transparent;
  }

  .figurine{
    width: 90%;
    height: auto;
    margin-left: 10rem;
    margin-top: 2rem;
    background: rgba(156, 152, 152, 0.849);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .products1{
    width: 30rem;
    height: 40rem;
    background: transparent;
    color: rgb(99, 78, 78);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 4rem;
    margin: 4rem;
    transition: 0.5s;
    border-radius: 2rem;
  }

  .container3 .heading{
    color: black;
  }

  .container3 .underline{
    background: black;
  }


  .container3 .bottom h2{

    color: black;
  }

  .container3 .bottom h3{
    color: black;
  }

  .container3 .products1:hover{
    cursor: pointer;
    background: beige;
    border: 2px solid black;
  }

  .container3 .bottom button{
    border: 0.1px solid black;
    background: white;
    color: black;
  }


  /*container 4*/

  .container4{
    width: 100%;
    height: auto;
    background: transparent;
  }

  .painting{
    width: 90%;
    height: auto;
    margin-left: 10rem;
    margin-top: 2rem;
    background: rgba(52, 53, 51, 0.699);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


  .products2{
    width: 30rem;
    height: 40rem;
    background: transparent;
    color: rgb(3, 3, 3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 4rem;
    margin: 4rem;
    transition: 0.5s;
    border-radius: 2rem;
  }


  .container4 .heading{
    color: black;
  }

  .container4 .underline{
    background: black;
  }


  .container4 .bottom h2{

    color: black;
  }

  .container4 .bottom h3{
    color: black;
  }

  .container4 .products2:hover{
    cursor: pointer;
    background: rgba(211, 211, 135, 0.473);
    border: 2px solid black;
  }

  .container4 .bottom button{
    border: 0.1px solid black;
    background: white;
    color: black;
  }


  .footer{
    width: 100%;
    height: auto;
    background: rgb(216, 215, 215);
    margin-top: 2rem;
    bottom: 0;
    border: 0.5px solid black;
  }

  .upper{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lower{
    height: 20%;
    width: 100%;
    border-top: 4px solid white;
  }


 #b{
  width: 25%;
  height: 100%;
  background: transparent;
  color: black;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 3rem;
}


.images{
  width: 50%;
  text-align: center;
  height: 40%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.images img{
  width: 18%;
  height: 40%;
  margin: 1rem;
}


.iconsfooter{
  width: 60%;
  height: 80%;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.input{
  width: 95%;
  height: 20%;
  background: white;
  border: 1px solid black;
  font-size: 2rem;
  padding: 2rem;
}

.button{
  width: 65%;
    height: 4rem;
    border-radius: 2rem;
    background: rgba(199, 14, 14, 0.61);
    color: rgb(8, 8, 8);
    border: 0.8px solid rgb(8, 8, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    transition: 0.5s;
}

#b p{
  font-size: 1.9rem;
}

.footer h1{
  font-size: 3rem;
  line-height: 2.7rem;
}




.searchbar{
  width: 30rem;
  height: 5rem;
  background: rgb(238, 233, 233);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border: 2px solid rgb(8, 8, 8);
  padding: 1rem;
  color: rgb(15, 14, 14);
  top: 10%;
  right: -95%;
  z-index: 10000000000000;
  transition: 0.5s;
}

.searchbar h1{
  font-size: 2.3rem;
  padding: 2rem;
}

.searchbar.active{
  right: 4%;
}

.wishlist{
  width: 25rem;
  height: 15rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  color: white;
  border: 0.5px solid white;
  position: fixed;
  top: 10%;
  right: -95%;
  line-height: 4rem;
  font-size: 1rem;
  z-index: 10000000;
  transition: 0.5s;
}


.wishlist.active{
  right: 5%;
}


.checkout{
  width: 40rem;
  height: 40rem;
  background: black;
  border: 2px solid white;
  border-radius: 2rem;
  position: fixed;
  top: 10%;
  right: -95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transition: 0.5s;
  z-index: 10000000000;
}

.checkbox{
  width: 90%;
  height: 20%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  border: 2px solid white;
  padding: 1rem;
  color: white;
}

.checkbox h2{
  font-size: 2rem;
  text-align: center;
  width: 48%;
  padding: 1rem;

}

.checkbox p{
  font-size: 1.8rem;
}


.checkbox img{
  width: 15%;
  height: 100%;
}

.checkout.active{
  right: 5%;
}

.login{
  width: 30rem;
  height: 30rem;
  background: black;
  color: white;
  border-radius: 2rem;
  border: 2px solid white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 10%;
  right: -95%;
  z-index: 10000000000000;
  text-decoration: none;
  transition: 0.5s;
}

#username{
  width: 90%;
  height: 20%;
  background: black;
  color: wheat;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 2rem;
  font-size: 2rem;
}

#password{
  width: 90%;
  height: 20%;
  background: black;
  color: wheat;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 2rem;
  font-size: 2rem;
}

.login a{
  font-size: 1.5rem;
  color: wheat;
  word-spacing: 0.8rem;


}

.login.active{
  right: 5%;
}






::-webkit-scrollbar{
  width: 0px;
}



























/*media query*/
@media (min-aspect-ratio: 16/9){
  .body-bg{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .body-bg{
    width: auto;
    height: 100%;
  }
}